.PageHeader {
    margin-bottom: 53px;
}

ul.custom-color {
    display: flex;
    padding-right: 30px;
}

.CollectionInner {
    margin: 0 !important;
}

.CollectionToolbar {
    border: 0;
    box-shadow: none;
    padding: 20px 0;
    margin-bottom: 10px;
}

.CollectionToolbar__Item--layout {
    padding: 0;
    text-align: left;
    border: 0;
}

.CollectionToolbar__LayoutType {
    margin-left: 0;
    margin-right: 16px;
}

.CollectionToolbar__LayoutType svg {
    width: 19px;
    height: 19px;
}

.CollectionToolbar__Group .CollectionToolbar__Item {
    padding: 0;
    border: 0;
    font-size: 13px;
    line-height: 17px;
    font-family: var(--font-hiragino-sans);
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.CollectionToolbar__Group .CollectionToolbar__Item.CollectionToolbar__Item--sort {
    margin-right: 51px;
}

.CollectionToolbar__Group .CollectionToolbar__Item svg {
    margin-right: 11px;
}

/* ------------------------Drawn-------------- */

.collection-filters-form {
    font-family: var(--font-yu-gothic);
    letter-spacing: 0.05em;
}

.collection-filters-form .Heading {
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-family: var(--font-yu-gothic);
}

.Collapsible__Plus {
    position: absolute;
    right: -1px;
    top: calc(50% - 8.5px);
    width: 16px;
    height: 16px;
}

.Collapsible__Plus:before {
    width: 16px;
    height: 1px;
}

.Collapsible__Plus:after {
    width: 1px;
    height: 16px;
}

.Collapsible__Button {
    padding: 20px 0 14px;
}

.Collapsible__Content {
    padding-bottom: 24px;
}

.collection-filters-form .Linklist__Item {
    line-height: 30px;
}

.Drawer--secondary .Collapsible {
    border: 0 !important;
}

.Linklist__Checkbox+.Link {
    padding-left: 25px !important;
    position: relative;
    color: #808080;
}

.Linklist__Checkbox+.Link:before {
    width: 14px;
    height: 14px;
    border: 1px solid #E6E6E6;
    opacity: 1;
    background: transparent;
    top: 9px;
}

.Linklist__Checkbox+.Link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 6px;
    border-radius: 50%;
    background-color: #343434;
    transition: all 0.3s;
}

.Linklist__Checkbox:checked+.Link,
.Linklist__Checkbox+.Link:hover {
    color: #444444;
}

.Linklist__Checkbox:checked+.Link:after {
    left: 3px;
    top: 12px;
    height: 8px;
    width: 8px;
}

.CollectionToolbar--reverse,
.CollectionToolbar__Group {
    flex-direction: row-reverse;
}

#collection-filter-drawer .Drawer__Header {
    box-shadow: none;
}

#collection-filter-drawer .Drawer__Header .Drawer__Title {
    line-height: 21px;
    letter-spacing: 0.15em;
    font-family: var(--font-yumincho);
}

.Drawer__Close {
    top: calc(50% - 10px);
}

.CollectionInner__Products {
    padding-bottom: 135px;
}

@media screen and (min-width: 641px) {
    .Drawer {
        width: 360px;
    }

    #collection-filter-drawer .Drawer__Header {
        padding-left: 50px;
        margin-top: 40px;
    }

    .PageHeader {
        margin: 55px 0 39px;
    }

    .CollectionToolbar__Group {
        padding-right: 10px;
        padding-top: 2px;
    }
    .Drawer--fromRight .Drawer__Close {
        right: 40px;
        left: auto;
    }
    .CollectionFilters .Drawer__Main {
        padding-top: 5px;
    }
}

@media screen and (max-width: 640px) {
    .CollectionToolbar__Group {
        flex: none;
    }
    .Drawer {
        max-width: calc(100vw - 65px);
        width: 290px;
    }
    .CollectionToolbar__LayoutType {
        margin-right: 11px;
    }
    .CollectionToolbar__LayoutType svg {
        width: 16px;
        height: 16px;
    }
    .CollectionToolbar__Group .CollectionToolbar__Item.CollectionToolbar__Item--sort {
        margin-right: 26px;
    }
    .CollectionToolbar__Group .CollectionToolbar__Item {
        font-size: 11px;
        line-height: 15px;
        justify-content: flex-end;
    }
    .CollectionToolbar__Group .CollectionToolbar__Item svg {
        margin-right: 7px;
        height: 11px;
    }
    .Drawer__Header {
        padding-top: 49px;
    }
    #collection-filter-drawer .Drawer__Header {
        margin-top: 5px;
        margin-bottom: 30px;
        padding-top: 49px;
    }
    .Drawer--fromRight .Drawer__Container {
        padding-left: 30px;
    }
    #collection-filter-drawer .Drawer__Header .Drawer__Title {
        letter-spacing: 0;
        font-size: 16px;
    }
    .Drawer__Close {
        top: calc(50% - 17.5px);
    }
    .Drawer--fromRight .Drawer__Close {
        right: 20px;
    }
    #collection-filters-drawer-form .Collapsible {
        padding-left: 30px;
        padding-right: 20px;
    }

    .collection-filters-form .Heading {
        font-size: 11px;
        line-height: 15px;
    }
    .Linklist__Item {
        font-size: 11px;
    }
    .Collapsible__Button {
        padding: 20px 0 11px;
    }
    .Collapsible__Plus {
        top: calc(50% - 1.5px);
        width: 10px;
        height: 10px;
    }
    .Collapsible__Plus:before {
        width: 10px;
        height: 1px;
    }
    .Collapsible__Plus:after {
        width: 1px;
        height: 10px;
    }
    .Collapsible__Content {
        padding-bottom: 15px;
    }
}