.Custom-Header .Header__FlexItem--fill:last-child .Item-cart {
    position: relative;
}
.Custom-Header .Header__FlexItem--fill:last-child .Item-cart .custom-cartcount {
    position: absolute;
    background: #636262;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.Custom-Header .Header__FlexItem--fill:last-child .Item-cart .custom-cartcount .Header__CartCount {
    color: #fff;
    font-size: 10px;
}
.template-index .Custom-Header.Header--transparent .Header__Icon svg line {
    stroke: #fff;
}
.template-index .Custom-Header.Header--transparent .Header__Icon svg path {
    stroke: #fff;
}
.template-index .Custom-Header.Header--transparent .Header__Icon.Item-cart svg line,
.template-index .Custom-Header.Header--transparent .Header__Icon.Item-account svg line {
    stroke: #fff;
}
.template-index .Custom-Header.Header--transparent .Header__Icon.Item-cart svg path,
.template-index .Custom-Header.Header--transparent .Header__Icon.Item-account svg path {
    fill: #fff;
}
.template-index .Custom-Header .Header__Icon svg {
    filter:unset !important;
}
.template-index .PageContainer {
    position: relative;
}
.template-index .PageContainer #shopify-section-announcement {
    position: absolute;
    width: 100%;
    top: 0;
}
.template-index .PageContainer #shopify-section-announcement #section-announcement {
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.Custom-Header .Header__MainNav {
    text-align: center;
    position: unset;
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item[aria-haspopup="true"]> .Heading.u-h6 .Custom-Dot:after{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Ccircle id='Ellipse_18' data-name='Ellipse 18' cx='2' cy='2' r='2' fill='%23444'/%3E%3C/svg%3E%0A");
    width: 4px;
    height: 4px;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.Custom-Header.Header--transparent .HorizontalList--spacingExtraLoose .HorizontalList__Item[aria-haspopup="true"]> .Heading.u-h6 .Custom-Dot:after{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Ccircle id='Ellipse_19' data-name='Ellipse 19' cx='2' cy='2' r='2' fill='%23fff'/%3E%3C/svg%3E%0A");
    width: 4px;
    height: 4px;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item> .Heading.u-h6:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center;
    border-bottom: 2px solid var(--header-heading-color);
    transition: transform .3s,opacity .3s;
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item.is-expanded> .Heading.u-h6:after{
    opacity: 1;
    transform: scale(1);
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item> .Heading.u-h6{
    position: relative;
    padding: 14px 0 14px;
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item[aria-haspopup="true"]> .Heading.u-h6{
    padding: 14px 15px 14px 0;
}
.Custom-Header .HorizontalList--spacingExtraLoose .HorizontalList__Item{
    margin: 0 25px;    
}
.Custom-Header .HorizontalList{
    display: flex;
    justify-content: center;
}
#shopify-section-header .Custom-Header.Header--center .Header__FlexItem{
    margin: 0px;    
}
#shopify-section-header .Custom-Header.Header--center .Header__Wrapper.Header__Wrapper{
  padding: 18px 50px!important;
}
.template-index .Custom-Header .Header__MainNav{
    padding-top: 17px;
    border-top: 1px solid rgba(0,0,0,.08);
}
.Custom-Header.Header--transparent .Header__MainNav{
    padding-top: 18px;
    border-top: unset;
}



.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-left{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width:55%;
}
.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-right .MegaMenu__PushHeading{
    text-align: left;
    font-size: 14px;
    line-height: 43px;
}

.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-left .MegaMenu__Item--fit{
  min-width: 145px;
  margin: 40px 25px;
}
.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-left .MegaMenu__Item--fit .MegaMenu__Title{
  font-size: 13px;
  line-height: 43px;
  color: #444444;
}
.Custom-Header .Header__MainNav .MegaMenu__Inner .MegaMenu-left .MegaMenu__Item--fit .Linklist__Item .Link{
  font-size: 12px;
  line-height: 29px;
  color: #848484;
}
